@{
   Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/_Privacy.css" asp-append-version="true" />
</head>
<div class="faq-content links2023">
    <span>></span>
    <a asp-area="" asp-controller="Home" asp-action="Help">Назад</a>
    <div class="section">
        <h2>Вопросы по отзывам и объектам отзывов</h2>
        <div class="faq-body">
            <ul class="faq-children">
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Как узнать причину, по которой отзыв не прошел модерацию, и опротестовать ее?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Для выяснения причины Вам необходимо зайти в раздел Мои отзывы и кликнуть на соответствующий отзыв. Если Вы не согласны с этой причиной (например, модератор случайно ошибся), то можете написать нам просьбу о перемодерации с указанием ссылки на отзыв (но перед этим внимательно прочитайте правила).</p>
                     <br></br>
                </div>
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Мой отзыв не прошел модерацию, можно мне еще раз его добавить, но уже без нарушений?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Можно.</p>
                     <br></br>
                </div>
                 <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Почему не весь мой текст появился в отзыве после модерации?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Чаще всего подобное происходит в том случае, если Вы писали текст сначала у себя на компьютере в каком-либо редакторе (например, в MS Word), а потом вставляли его в форму для добавления на нашем сайте. Дело в том, что при копировании текста из редакторов типа MS Word происходит еще и копирование специальных тегов оформления текста, которые для Вас невидимы. Именно эти "мусорные" теги в сочетании с некоторыми версиями браузеров зачастую мешают корректному добавлению отзыва. В таком случае, скопируйте и сохраните текст сначала в обычный текстовый файл (для этого отлично подойдет стандартный редактор Блокнот) и уже из него копируйте и вставляйте в форму на нашем сайте.</p>
                     <br></br>
                </div>
            </ul>
        </div>
    </div>
    <div class="section">
        <h2>Вопросы по реферальной программе</h2>
        <div class="faq-body">
            <ul class="faq-children">
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Как узнать причину, по которой отзыв не прошел модерацию, и опротестовать ее?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Для выяснения причины Вам необходимо зайти в раздел Мои отзывы и кликнуть на соответствующий отзыв. Если Вы не согласны с этой причиной (например, модератор случайно ошибся), то можете написать нам просьбу о перемодерации с указанием ссылки на отзыв (но перед этим внимательно прочитайте правила).</p>
                     <br></br>
                </div>
            </ul>
        </div>
    </div>
    <div class="section">
        <h2>Вопросы по финансовой теме (заработок, выплаты, баланс, личный коэффициент и т.д.)</h2>
        <div class="faq-body">
            <ul class="faq-children">
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Почему стоимость показа на одном и том же отзыве увеличилась или уменьшилась?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Вся прибыль проекта распределяется между авторами в соответствии с 1 пунктом правил, где описаны параметры, которые влияют на размер начислений за каждый просмотр. Размер этой распределяемой прибыли зависит от интереса рекламодателей к нашему проекту и может изменяться. Например, в зависимости от сезона, праздников и т.п. спрос и количество рекламодателей на каждую отдельную категорию товаров или услуг может быть абсолютно разным. Кроме того, реакция читателей на партнерские предложения — величина далеко не постоянная и зависит от очень многих факторов.</p>
                     <br></br>
                </div>
            </ul>
        </div>
    </div>
     <div class="section">
        <h2>Как стать модератором и правильно модерировать отзывы?</h2>
        <div class="faq-body">
            <ul class="faq-children">
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Как правильно оценивать отзывы при модерации?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Ставить "На главную" надо только те отзывы, которые содержат много полезной информации о плюсах и минусах объекта отзыва на основе личного опыта автора. Причем, чем дешевле объект отзыва, тем строже надо его оценивать. Например, отзыв о туши для ресниц или шампуне заслуживает попадания на главную страницу только при наличии фото очень хорошего качества "ДО" и "ПОСЛЕ" результата применения и подробного описания всех плюсов и минусов. Отзывы на дорогие объекты (отели, автомобили и т.п.) могут быть отправлены "На главную" и без фото, если в них много полезной информации в виде личных впечатлений автора. </p>
                     <br></br>
                </div>
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Как стать Модератором отзывов?</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <p>Если Вам прислали сообщение о том, что Вы можете пройти тест на получение статуса Модератор отзывов, то у Вас есть шанс пройти этот тест и стать модератором. Доступ к тесту появляется автоматически во время очередного набора модераторов, если у автора на этот момент имеется достаточное количество написанных отзывов и положительная репутация (точные цифры нет смысла указывать, так как они постоянно изменяются).</p>
                     <br></br>
                </div>
                <li>
                     <a asp-area="" asp-controller="Home" asp-action="Help">Частые вопросы при модерации объектов отзывов</a>
                </li>
                <div class="faq-body">
                     <br></br>
                     <b>Вопрос:</b>
                     <p>В каких случаях не требуется уточнять у автора модель/разновидность товара?</p>
                     <br></br>
                     <b>Ответ:</b>
                     <p>Надо ориентироваться на здравый смысл. Мало кого будут интересовать отзывы, например, на автомобили Renault, отели Hilton, смартфоны Apple или ноутбуки Samsung в целом, так как потенциального покупателя заинтересуют отзывы на конкретный объект, который он собирается оплатить.</p>
                </div>
            </ul>
        </div>
    </div>
</div>
