@{
   Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/_Privacy.css" asp-append-version="true" />
</head>
<div id="content" class="main_content content">
   <div class="page-caption">
       <div class="breadcrumbs">
         <a asp-area="" asp-controller="Home" asp-action="Privacy">Главная</a>
         <span>></span>
         <a asp-area="" asp-controller="Home" asp-action="Privacy">Помощь</a>
       </div>
     <h1>Ответы на частые вопросы</h1>
   </div>
   <ul class="section root quest-list box">
    <li>
            <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по отзывам и объектам отзывов</a>
    </li>
    <li>
            <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по реферальной программе</a>
    </li>
    <li>
            <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по финансовой теме (заработок, выплаты, баланс, личный коэффициент и т.д.)</a>
    </li>
    <li>
            <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по своим личным данным (email, ЮMoney-кошелек, репутация и т.п.)</a>
    </li>
    <li>
            <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Как стать модератором и правильно модерировать отзывы?</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Как стать модератором и правильно модерировать отзывы?</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Я требую удалить отзыв, который отрицательно влияет на деловую репутацию моей фирмы.</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Как запретить копирование моих отзывов с Отзовика?</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Официальным представителям компаний и организаций</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по отзывам и объектам отзывов</a>
    </li>
    <li>
             <a asp-area="" asp-controller="Home" asp-action="HelpDetails">Вопросы по работе сайта</a>
    </li>
  </ul>
</div>

</html>



  