@{
   Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/_Privacy.css" asp-append-version="true" />
</head>
<div id="content" class="main_content content">
   <div class="page-caption">
       <div class="breadcrumbs">
         <a asp-area="" asp-controller="Home" asp-action="Privacy">Главная</a>
         <span>></span>
         <a asp-area="" asp-controller="Home" asp-action="Privacy">Помощь</a>
       </div>
     <h1>Ответы на частые вопросы</h1>
   </div>
   <ul class="section root quest-list box">
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по отзывам и объектам отзывов</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по реферальной программе</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по финансовой теме (заработок, выплаты, баланс, личный коэффициент и т.д.)</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по своим личным данным (email, ЮMoney-кошелек, репутация и т.п.)</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Как стать модератором и правильно модерировать отзывы?</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Как стать модератором и правильно модерировать отзывы?</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Я требую удалить отзыв, который отрицательно влияет на деловую репутацию моей фирмы.</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Как запретить копирование моих отзывов с Отзовика?</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Официальным представителям компаний и организаций</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по отзывам и объектам отзывов</span>
        </a>
    </li>
    <li>
        <a>
            <svg>
                <use href="/static/img/2023/icons/icons.svg#help-circle"></use>
            </svg>
            <span>Вопросы по работе сайта</span>
        </a>
    </li>

  </ul>
</div>

</html>



  