@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/_Privacy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/Снимок.PNG" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/Снимок1.PNG" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/img/2018_" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/img/2018_icons/angle_down.svg" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/img/2018_icons/angle_right.svg" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/img/2018_icons/angle_left.svg" asp-append-version="true" />
</head>
<h1>@ViewData["Title"]</h1>
<div class="topblock home-box glory-box design2">  
    <h3>Премьеры в кинотеатрах</h3>
    <a class="slider-prev icons icon-left" style="display: none;"></a>
    <a class="slider-next icons icon-right"></a>
    <div class="topblock-items-wrap touchslider">  
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_astral_5_krasnaya_dver_2023/">
                    <img width="150" height="228" src="//i9.otzovik.com/topblocks/block6/pid2266076_custom_resized.png?54687" loading="lazy"
                    alt="Фильм "Астрал 5: Красная дверь" (2023)" title="Фильм "Астрал 5: Красная дверь" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 6 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 5.43">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 66%"> "66"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_shpion_2023/">
                    <img width="150" height="228" src="//i9.otzovik.com/topblocks/block6/pid2277055_custom_resized.png?45199" loading="lazy"
                    alt="Фильм "Шпион" (2023)" title="Фильм "Шпион" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_shpion_2023/" class="reviews-counter"> 10 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 3.91">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-2"></span>
                    <span class="icons icon-star-0"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 46%"> "46"
                    <span class="icons icon-dislike colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/multfilm_turbozavri_privet_sirena_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2276710.png" loading="lazy"
                   alt="Мультфильм "Турбозавры. Привет, Сирена!" (2023)" title="Мультфильм "Турбозавры. Привет, Сирена!" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 31 отзыв</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 4.52">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-2"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 80%"> "80"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/serial_tyani_sunduk_2022/">
                    <img width="150" height="228" src="//i9.otzovik.com/topblocks/block6/pid2276339_custom_resized.png?30746" loading="lazy"
                    alt="Сериал "Тяни, Сундук" (2022)" title="Сериал "Тяни, Сундук" (2022)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/serial_tyani_sunduk_2022/" class="reviews-counter"> 12 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 4">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-0"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 83%"> "83"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_vremya_rasplati_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2275259.png" loading="lazy"
                    alt="Фильм "Время расплаты" (2023)" title="Фильм "Время расплаты" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_vremya_rasplati_2023/" class="reviews-counter"> 21 отзыв</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 2.29">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-2"></span>
                    <span class="icons icon-star-0"></span>
                    <span class="icons icon-star-0"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 9%"> "9"
                    <span class="icons icon-dislike colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2272890.png" loading="lazy"
                    alt="Фильм "Он - это пуля" (2023)" title="Фильм "Он - это пуля" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_on-eto_pulya_2023/" class="reviews-counter"> 15 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 93%"> "93"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_mikulay_2022/">
                    <img width="150" height="228" src="//i9.otzovik.com/topblocks/block6/pid2271952_custom_resized.png?60191" loading="lazy"
                    alt="Фильм "Микулай" (2022)" title="Фильм "Микулай" (2022)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_mikulay_2022/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_texas_grit_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2277476.png" loading="lazy"
                    alt="Фильм "Texas Grit" (2023)" title="Фильм "Texas Grit" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_astral_5_krasnaya_dver_2023/" class="reviews-counter"> 8 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 6">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
        <div class="topblock-item">
            <div class="img-wrap">
                <a href="/reviews/film_on-eto_pulya_2023/">
                    <img width="150" height="228" src="//i.otzovik.com/objects/b/2280000/2272890.png" loading="lazy"
                    alt="Фильм "Он - это пуля" (2023)" title="Фильм "Он - это пуля" (2023)"> 
                </a>
            </div>
            <div>
                <div class="product-reviews decor-u2n">
                    <a href="/reviews/film_on-eto_pulya_2023/" class="reviews-counter"> 13 отзывов</a>
                </div>
                <div class="product-rating tooltip-right" title="Общий рейтинг: 4.77">
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-1"></span>
                    <span class="icons icon-star-2"></span>
                </div>
                <div class="recommend-ratio yes" title="Рекомендуют: 100%"> "100"
                    <span class="icons icon-like colored"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
