@using Cinema.DataAccess.Entity;
 @model Cinema.DataAccess.Entity.Comment 
 
@{
   Layout = null;
}

<h2>Список отзывов</h2>
<table>
    <tr>
        <th>Фильм</th>
        <th>Отзыв</th>
        <th>Пользователь</th>
        <th></th>
    </tr>
 
    @*@foreach (var item in comment )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            /tr>
    }
        *@

</table>

