@model Book
@{
    ViewBag.Title = "Добавление книги";
}
<form asp-action="create" asp-controller="home">
   < <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label">Автор</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Года</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Edition" class="control-label">Издатель</label>
        <input type="text" asp-for="Edition" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>